<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title layout:title-pattern="$CONTENT_TITLE - BlackJack">
	BlackJack</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/app.css}">

</head>
<body>
	<div th:replace="~{fragments/header::header}"></div>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<!-- Main Content -->
	<div class="wrapper">
		<aside class="sidebar bg-light border-end p-3"
			th:replace="~{fragments/sidebar::sidebar}"></aside>
		<main class="main-content p-4" layout:fragment="content">
			<!-- Default or overridden content goes here -->
		</main>
	</div>


	<div th:replace="~{fragments/footer::footer}"></div>

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>