<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$CONTENT_TITLE - BlogApp">
	BlogApp
</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
	<div th:replace="~{fragments/header::header}"></div>
	 <!-- Main Content -->
	<main class="container mt-4" layout:fragment="content">
	
	
	</main>
		
	
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>	
</body>
</html>