<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title layout:title-pattern="$CONTENT_TITLE - BlogApp">
	BlackJack
</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="~{fragments/userheader::header}"></div>
	 <!-- Main Content -->
	 <div class="wrapper">
	<main class="container mt-4 flex-grow-1" layout:fragment="content">
	
	
	</main>
	</div>
		
	<div th:replace="~{fragments/userfooter::footer}"></div>
	
</body>
</html>