<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/member_layout}">
<head>
<meta charset="UTF-8">
<title>Post List</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Post List</h2>
				
		<div class="row mt-3" >
			<div class="col-md-3" th:each="p,state:${posts}">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title" th:text="${p.title}"></h5>
        				<p class="card-text" th:text="${p.content}"></p>
        				<a th:href="@{/posts/edit/{id}(id=${p.id})}" 
        					class="btn btn-primary">Detail</a>
					</div>
				</div>
			</div>
		</div>	
			
				
			
		
	</div>
</body>
</html>