<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">
<head>
<meta charset="UTF-8">
<title>Post List</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Post List</h2>
		<a th:href="@{/posts/add}">Add Post</a>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>Title</th>
					<th>Status</th>
					<th>Category</th>
					<th>Tags</th>
					<th>Author</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p,state:${posts}">
					<td th:text="${state.count}"></td>
					<td th:text="${p.title}"></td>
					<td th:text="${p.status}"></td>
					<td th:text="${p.categoryName}"></td>
					<td th:text="${p.tagNames}"></td>
					<td th:text="${p.authorName}"></td>
					<td>
					<span th:if="${session.loggedInUser != null && session.loggedInUser.Id==p.createdUser_id}">
						<a th:href="@{/posts/edit/{id}(id=${p.id})}">Update
							Post </a> 
						<a th:href="@{/posts/delete/{id}(id=${p.id})}">Delete
							Post </a>
					</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>