<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Category Detail</title>
</head>

<body>

	<h2>Category Detail</h2>

	<p>
		ID : <span th:text="${category.id}"></span>
	</p>

	<p>
		Name : <span th:text="${category.name}"></span>
	</p>

	<p>
		Description : <span th:text="${category.description}"></span>
	</p>

	<p>
		Image : <span th:text="${category.image}"></span>
	</p>

	<p>
		Status : <span
			th:text="${category.isActive == 1 ? 'Active' : 'Inactive'}"> </span>
	</p>

	<br>

	<a th:href="@{/categories}"> Back </a>

</body>
</html>