<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Edit Category</title>
</head>

<body>

	<h2>Edit Category</h2>

	<form th:action="@{/categories/edit}" th:object="${category}"
		method="post" enctype="multipart/form-data">

		<input type="hidden" th:field="*{id}">

		<!-- Keep old image -->
		<input type="hidden" th:field="*{image}">


		<div>
			<label>Name</label> <input type="text" th:field="*{name}">
		</div>

		<br>


		<div>
			<label>Description</label> <br>

			<textarea th:field="*{description}" rows="5" cols="40"></textarea>
		</div>

		<br>


		<!-- Current Image -->
		<div>
			<label>Current Image</label> <br>
			<br> <img
				th:if="${category.image != null and category.image != ''}"
				th:src="@{/images/categories/{image}(image=${category.image})}"
				width="250">
		</div>

		<br>


		<!-- Change Image -->
		<div>

			<label>Change Image</label> <br> <input type="file"
				name="imageFile" accept="image/*">

		</div>

		<br>


		<!-- Status -->
		<div>

			<label>Status</label> <select th:field="*{isActive}">

				<option value="1">Active</option>

				<option value="0">Inactive</option>

			</select>

		</div>

		<br>


		<button type="submit">Update</button>

	</form>

</body>

</html>