<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Admin Header</title>
</head>

<body>

    <!-- Topbar -->
    <header class="admin-topbar" th:fragment="adminheader">

        <div></div>

        <div class="admin-profile">

            <!-- Notification -->
            <i class="bi bi-bell fs-5"></i>

            <div class="admin-info">

                <!-- Profile Photo -->
                <div class="admin-avatar-wrapper">

                    <a th:href="@{/admin/profile}"
                       class="admin-profile-link">

                        <img th:src="${changeProfileModel.profile != null 
                                      and !changeProfileModel.profile.isEmpty()
                                      ? changeProfileModel.profile
                                      : '/images/admin/admin.jpg'}"
                             alt="Admin"
                             class="admin-avatar">

                    </a>

                    <span class="active-dot"></span>

                </div>


                <!-- Admin Name -->
                <div class="admin-details">

                    <a th:href="@{/admin/profile}"
                       class="admin-profile-link">

                        <span class="admin-name"
                              th:text="${changeProfileModel.name != null 
                                      and !changeProfileModel.name.isEmpty()
                                      ? changeProfileModel.name
                                      : 'Admin'}">
                            Admin
                        </span>

                    </a>

                </div>

            </div>

        </div>

    </header>

</body>

</html>