<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand"
               th:href="@{/}">
                My Blog
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse"
                 id="navbarContent">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link"th:href="@{/}"> Home</a>
                    </li>
                    <!-- Not logged in -->
					 <li class="nav-item" th:if="${session.loggedInUser == null}">
					 		<a class="nav-link" th:href="@{/register}">SignUp</a>
                    </li>
                    <!-- Not logged in -->
                    <li class="nav-item" th:if="${session.loggedInUser == null}">
                        <a class="nav-link" th:href="@{/login}"> Login</a>
                    </li>
                    
                    <!-- logged in -->
                    <li class="nav-item" th:if="${session.loggedInUser != null}">
    					<span class="nav-link text-white">
        					Hello, <strong th:text="${session.loggedInUser.username}"></strong>
    					</span>
					</li>
                    <li class="nav-item" th:if="${session.loggedInUser != null}">
                        <a class="nav-link"th:href="@{/logout}">Logout</a>
                    </li>
                    
                    
                   

                </ul>

            </div>

        </div>

    </nav>
</header>