<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
	<div class="bg-light border-end h-100">
		<div class="list-group rounded-0">
			<a href="/blogapp/dashboard"class="list-group-item list-group-item-action"> 
				Dashboard 
			</a> 
			<a href="/admin/posts" class="list-group-item list-group-item-action">
				Post 
			</a> 
			<a href="/categories" class="list-group-item list-group-item-action"> 
				Category 
			</a>
			 <a href="/tags" class="list-group-item list-group-item-action"> 
			 	Tag
			</a>
		</div>
	</div>
</div>
</html>